<p>
  <%= link_to 'New Task', new_task_path %>
</p>

<div class='row'>
  <div class='col-md-4'>
    <h1 class='text-center'> To Do </h1>
    <%= render @to_do %>
  </div>

  <div class='col-md-4'>
    <h1 class='text-center'> In Progress </h1>
    <%= render @in_progress %>
  </div>

  <div class='col-md-4'>
    <h1 class='text-center'> Complete </h1>
    <%= render @complete %>
  </div>

</div>