<h2>To Do</h2>
<p>
  <%= link_to 'New Task', new_task_path %>
</p>
<table>
  <tr>
    <th> Content</th>
    <th> State</th>
    <th colspan="4"></th>
  </tr>

  <% @to_do.each do |task| %>
      <%= render @to_do %>
  <% end %>
</table>

<h2>In Progress</h2>
<table>
  <tr>
    <th> Content</th>
    <th> State</th>
    <th colspan="5"></th>
  </tr>

  <% @in_progress.each do |task| %>
      <%= render @in_progress %>
  <% end %>
</table>

<h2>Complete</h2>
<table>
  <tr>
    <th> Content</th>
    <th> State</th>
    <th colspan="4"></th>
  </tr>

  <% @complete.each do |task| %>
      <%= render @complete %>
  <% end %>
</table>