<div class='row'>
  <div class='col-md-4'>
    <h1> To Do </h1>
    <div class = 'panel panel-info'>
      <div class = 'panel-heading'>My To Do</div>
      <div class = 'panel-body'> This is my to do list</div>
      <div class = 'panel-footer'>This is my footer</div>
    </div>
  </div>

  <div class='col-md-4'>
    <h1> In Progress </h1>
    <div class = 'panel panel-info'>
      <div class = 'panel-heading'>In Progress</div>
      <div class = 'panel-body'> This is my In Progress list</div>
      <div class = 'panel-footer'>This is my footer</div>
    </div>
  </div>

  <div class='col-md-4'>
    <h1> Complete </h1>
    <div class = 'panel panel-info'>
      <div class = 'panel-heading'>My Complete</div>
      <div class = 'panel-body'> This is my Complete list</div>
      <div class = 'panel-footer'>This is my footer</div>
    </div>
  </div>

</div>